{% extends 'base.html' %}

{% block content %}
    <h2>Новый пароль</h2>

    {% if validlink %}
        <p>Введите новый пароль дважды.</p>

        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">
                Сохранить новый пароль
            </button>
        </form>
    {% else %}
        <p>
            Ссылка недействительна или уже была использована.
            Запросите восстановление пароля заново.
        </p>

        <a href="{% url 'users:password_reset' %}">
            Восстановить пароль
        </a>
    {% endif %}
{% endblock %}